
table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1rem;
}

.table-container {
    overflow-x: auto;
    white-space: nowrap;
}

th, td {
    /* padding: 5px 10px; */
    text-align: center;
    text-wrap: wrap;
}

thead {
    font-weight: bold;
}

thead tr {
    border-top: 1px solid #42424246;
}

tbody tr {
    border-top: 1px solid #42424246;
    border-bottom: 1px solid #42424246;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa; 
}

@media (min-width: 768px) {
    tbody tr:hover {
        background-color: #f0f0f0;
    }
}


table img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.thead-tr {
    height: 64px;
}

.tbody-tr {
    height: 64px;
}


/* SCHEDULE TABLES */
.schedule-table {
    border-top: none;
}

.schedule-header {
    height: 60px;
}

.matchup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.matchup-info-container {
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
}

.matchup-info {
    height: fit-content;
    font-size: 0.9rem;
}

.matchup-teams {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.matchup-vs {
    align-content: center;
}

.team-img-container {
    padding: 0 10px;
}

.game-result-container {
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.game-result {
    height: fit-content;
    font-size: 0.9rem;
}

.team-container {
    display: flex;
    align-items: center;
}


.leaderboard-title {
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 60px;
}

.division-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* LEADERBOARD TABLE */

.team-container {
    display: flex;
    align-items: center;
}

.teams-th {
    text-align: left;
}


/* PLAYER AND STATS TABLES */

.player-container {
    display: flex;
    align-items: center;
}

.players-th {
    text-align: left;
}