<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Draft Turnaus</title>
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/tables.css">
        <link rel="icon" href="/photos/logo.jpg" type="favicon.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tourney:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="/js/hamburger.js" defer></script>
        <script src="https://unpkg.com/htmx.org@1.9.0" defer></script>
    </head>
    <body>
        <header>
            <div class="titlebar">
                <a href="/index.html">
                    <img class="logo-header" src="/photos/logo.jpg">
                </a>
                <div class="title">
                    <a href="/index.html">
                        <spans>Draft Turnaus</spans>
                    </a>
                </div>
                <a class="hamburger">☰</a>
            </div>
            <nav class="menu">
                <ul>
                    <li class="child-page">
                        <a href="/schedule.html">
                            <span>Otteluohjelma</span>
                        </a>
                    </li>
                    <li class="child-page">
                        <a href="/stats.html">
                            <span>Tilastot</span>
                        </a>
                    </li>
                    <li class="child-page">
                        <a href="/leaderboard.html">
                            <span>Sarjataulukko</span>
                        </a>
                    </li>
                    <li class="child-page">
                        <a href="/players.html">
                            <span>Pelaajat</span>
                        </a>
                    </li>
                    <li class="child-page">
                        <a href="/tournamentinfo.html">
                            <span>Turnaus info</span>
                        </a>
                    </li>
                </ul>
                <div class="trademark">
                    <span>Made by brothagenie TM</span>
                </div>
            </nav>
        </header>
        <main>
            <div class="content">
                <div class="leaderboard-header">
                    <div class="leaderboard-title">
                        <h1>Sarjataulukko</h1>
                    </div>
                    <div class="leaderboard-selector">
                        <button class="leaderboard-division">
                            Lohkot
                        </button>
                        <button class="leaderboard-league">
                            Liiga
                        </button>
                    </div>
                </div>
                <div class="division-title">
                    <h5>
                        Lohko A
                    </h5>
                </div>
                <div class="table-container">
                    <table class="division-a-table">
                        <colgroup>
                            <col style="width: 60px">
                            <col class="photos-column" style="width: 220px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                        </colgroup>
                        <thead>
                            <tr class="thead-tr">
                                <th>Sijoitus</th>
                                <th class="teams-th">Joukkue</th>
                                <th>Lohko</th>
                                <th>P</th>
                                <th>V</th>
                                <th>T</th>
                                <th>H</th>
                                <th>TM</th>
                                <th>PM</th>
                            </tr>
                        </thead>
                        <tbody hx-get="/leaderboard/division-a" hx-trigger="load" hx-swap="innerHTML">
                            <!-- <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>Kiekkokingit</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                            <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>Jääkarhut</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                            <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>HC Metsurit</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="division-title">
                    <h5>
                        Lohko B
                    </h5>
                </div>
                <div class="table-container">
                    <table class="division-b-table">
                        <colgroup>
                            <col style="width: 60px">
                            <col class="photos-column" style="width: 220px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                            <col style="width: 60px">
                        </colgroup>
                        <thead>
                            <tr class="thead-tr">
                                <th>Sijoitus</th>
                                <th class="teams-th">Joukkue</th>
                                <th>Lohko</th>
                                <th>P</th>
                                <th>V</th>
                                <th>T</th>
                                <th>H</th>
                                <th>TM</th>
                                <th>PM</th>
                            </tr>
                        </thead>
                        <tbody hx-get="/leaderboard/division-b" hx-trigger="load" hx-swap="innerHTML">

                            <!-- <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>Kiekkokingit</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                            <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>Jääkarhut</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                            <tr class="tbody-tr">
                                <td>1</td>
                                <td>
                                    <div class="team-container">
                                        <img src="/photos/profile.png">
                                        <span>HC Metsurit</span>
                                    </div>
                                </td>
                                <td>A</td>
                                <td>2</td>
                                <td>2</td>
                                <td>0</td>
                                <td>5</td>
                                <td>1</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer">
                <div class="footerlinks-container">
                    <div class="footerlinks">
                        <span>Meistä</span>
                        <span>|</span>
                        <span>Säännöt</span>
                        <span>|</span>
                        <span>Muuta</span>
                        <span>|</span>
                        <span>Tietosuoja</span>
                    </div>
                </div>
                <div class="footertitle">
                    <span>© Draft turnaus<sup>&trade;</sup></span>
                    <span>Turku 2026</span>
                </div>
            </div>
        </footer>
    </body>
</html>